.svn
trunk/*/Gemfile.lock
trunk/*/log/
trunk/*/tmp/
trunk/*/kcs
trunk/*/kcs/
trunk/*/file
trunk/*/file/
trunk/*/files
trunk/*/files/
trunk/*/update.sh
trunk/*/check_and_update.sh
trunk/*/public/assets
trunk/*/public/maintenance
trunk/*/public/maintenance/
trunk/*/config/database.yml
trunk/*/config/app_config.yml
trunk/*/config/settings.local.yml

dev/Gemfile.lock
dev/log/
dev/tmp/
dev/kcs
dev/kcs/
dev/file
dev/file/
dev/files
dev/files/
dev/update.sh
dev/check_and_update.sh
dev/public/assets
dev/public/maintenance
dev/config/app_config.yml
